<%- include("./partials/header.ejs") %>

<p style="text-align: center;">It's just a website from an amateur (yet aspiring) self-study programmer.
It ain't that deep I'm afraid :D</p>

<%- include("./partials/footer.ejs") %>
